.header {
  height: 36vw;
  margin: 35px auto;
  background: url('/green-tomato.jpg');
  background-size: cover;
  position: relative;
  border-radius: 10px;
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 3s;
}

.header-contents h2 {
  font-weight: 500;
  color: rgb(255, 255, 255);
  font-size: max(4.8vw, 22px);
}

.header-contents p {
  color: white;
  font-size: 1.5vw;
}

.header-contents a {
  border: 2px solid white;
  color: white;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: #49557e;
  font-size: max(1vw, 13px);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 3%;
}

.header-contents a:hover {
  transform: scale(1.1);
  background-color: tomato;
}

@media (max-width: 1050px) {
  .header-contents {
    max-width: 45%;
  }
}

@media (max-width: 750px) {
  .header-contents {
    max-width: 65%;
  }
  .header-contents p {
    display: none;
  }
  .header-contents button {
    padding: 2vw 4vw;
  }
}
